@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: inherit;
}

.btn-submit {
  font-family: var(--font-ibm-plex-sans), sans-serif;
  font-size: 16px;
}

.input-email {
  font-family: var(--font-ibm-plex-sans), sans-serif;
  color: #8B8078;
}

.input-email::placeholder {
  color: #8B8078;
  font-family: var(--font-ibm-plex-sans), sans-serif;
}
